In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

# more about pandas


- apply()
- datetime type
- object type
- filtering
- merge()
- fillna()
- interpolate()
- melt()
- aggregation: unique count means size first last 
- count missing values

https://towardsdatascience.com/gaining-a-solid-understanding-of-pandas-series-893fb8f785aa

 - arithmetic operation
 - sorting
 - string operation

## creating a series

In [2]:
s1 = pd.Series([1,3,5,7], index=["a", "b", "c", "d"])
s1

a    1
b    3
c    5
d    7
dtype: int64

In [3]:
s2 = pd.Series(np.array([1,3,5,7]), index=["a", "b", "c", "d"])
s2

a    1
b    3
c    5
d    7
dtype: int64

## indexing a series

In [28]:
n = s1["a"]
print(n)
print(type(n))

1
<class 'numpy.int64'>

In [29]:
n = s1[1]
print(n)
print(type(n))

3
<class 'numpy.int64'>

In [31]:
n = s1.loc["c"]
print(n)
print(type(n))

5
<class 'numpy.int64'>

In [32]:
s = s1.loc["b":"d"]
print(s)
print(type(s))

b    3
c    5
d    7
dtype: int64
<class 'pandas.core.series.Series'>

In [33]:
s = s1.iloc[1:4]
print(s)
print(type(s))

b    3
c    5
d    7
dtype: int64
<class 'pandas.core.series.Series'>

## indexing a data frame

In [36]:
df = pd.DataFrame([[1,2],[3,4],[5,6],[7,8]], columns=["First", "Second"], index=["a", "b", "c", "d"])
df1 = df.iloc[1:4]
df2 = df.loc["b":"d"]

In [37]:
print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>

   First  Second
b      3       4
c      5       6
d      7       8

In [38]:
print(type(df2))
df2

<class 'pandas.core.frame.DataFrame'>

   First  Second
b      3       4
c      5       6
d      7       8

## apply()

## merge()

## references
- https://towardsdatascience.com/gaining-a-solid-understanding-of-pandas-series-893fb8f785aa