In [1]:
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

In [2]:
df = pd.DataFrame({'one': [-1, np.nan, 2.5],
                    'two': ['foo', 'bar', 'baz'],
                    'three': [True, False, True]},
                    index=list('abc'))
df

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [3]:
table = pa.Table.from_pandas(df)

In [4]:
pq.write_table(table, 'example.parquet')

In [5]:
table2 = pq.read_table('example.parquet')
table2.to_pandas()

   one  two  three
a -1.0  foo   True
b  NaN  bar  False
c  2.5  baz   True

In [6]:
table3 = pq.read_table('example.parquet', columns=['one', 'three'])
table3.to_pandas()

   one  three
0 -1.0   True
1  NaN  False
2  2.5   True